<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Spring 全局配置</description>

    <!--读取配置文件-->
    <!--<context:property-placeholder location="classpath:jdbc.properties,classpath:mail.properties"/>-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <!--web.xml中已配置，这里不需要再次导入，否则启动两次-->
    <!--<import resource="spring-web.xml"/>-->

    <import resource="spring-service.xml"/>
    <import resource="spring-dao.xml"/>
    <import resource="spring-redis.xml"/>
    <import resource="spring-task.xml"/>
    <import resource="spring-jms.xml"/>
    <!--<import resource="spring-security.xml"/>-->
</beans>