<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">
    <description>整合quartz</description>

    <task:scheduler id="taskScheduler" pool-size="100"/>

    <!--spring 4.x中已经不支持7个参数的cronin表达式了，要求必须是6个参数-->
    <task:scheduled-tasks scheduler="taskScheduler">
        <task:scheduled ref="taskService" method="runWorkDay12" cron="0 0 12 ? * MON-FRI"/>
        <task:scheduled ref="taskService" method="runWorkDay18" cron="0 0 18 ? * MON-FRI"/>
        <task:scheduled ref="taskService" method="sendMovie" cron="0 0 16 ? * FRI"/>
        <task:scheduled ref="taskService" method="runEveryDay7" cron="0 0 7 * * *"/>
        <task:scheduled ref="taskService" method="runEveryDay0" cron="0 0 0 * * ?"/>
    </task:scheduled-tasks>
</beans>