<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/admin/login" security="none"/>
    <security:http entry-point-ref="authenticationEntryPoint">
        <security:csrf disabled="true"/>
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <security:custom-filter ref="captchaProcessingFilter" before="FORM_LOGIN_FILTER"/>
        <security:logout invalidate-session="true"
                         logout-url="/admin/logout"
                         logout-success-url="/admin/login"/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authenticationProvider">
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="userDetailsService" ref="sysUserDetailsService"/>
    </bean>

    <bean id="authenticationEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/admin/login"/>
    </bean>

    <bean id="captchaProcessingFilter" class="me.ianhe.security.CaptchaProcessingFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
        <property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
        <property name="filterProcessesUrl" value="/admin/login.do"/>
    </bean>

    <bean id="authenticationSuccessHandler" class="me.ianhe.security.FrontAuthenticationSuccessHandler">
        <constructor-arg value="/admin/index"/>
    </bean>
    <bean id="authenticationFailureHandler"
          class="me.ianhe.security.FrontAuthenticationFailureHandler">
        <constructor-arg value="/admin/login"/>
    </bean>

</beans>