<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="car1" class="me.ianhe.ioc.Car"
          p:brand="红旗CA72"
          p:color="黑色"
          p:speed="200"/>-->
    <bean id="car1" class="me.ianhe.ioc.Car">
        <property name="brand" value="红旗CA72"/>
        <property name="color" value="黑色"/>
        <property name="speed" value="200"/>
    </bean>
</beans>