<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ianhe.dao.BusStationMapper">
    <resultMap id="BaseResultMap" type="me.ianhe.entity.BusStation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="station_name" jdbcType="VARCHAR" property="stationName"/>
        <result column="bus_id" jdbcType="VARCHAR" property="busId"/>
        <result column="bus_index" jdbcType="INTEGER" property="busIndex"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, station_name, bus_id, bus_index
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bus_station
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM bus_station
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="me.ianhe.entity.BusStation"
            useGeneratedKeys="true">
        INSERT INTO bus_station (station_name, bus_id, bus_index
        )
        VALUES (#{stationName,jdbcType=VARCHAR}, #{busId,jdbcType=VARCHAR}, #{busIndex,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into bus_station(station_name, bus_id, bus_index)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.stationName,jdbcType=VARCHAR}, #{item.busId,jdbcType=VARCHAR},
            #{item.busIndex,jdbcType=INTEGER})
        </foreach>
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="me.ianhe.entity.BusStation"
            useGeneratedKeys="true">
        insert into bus_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationName != null">
                station_name,
            </if>
            <if test="busId != null">
                bus_id,
            </if>
            <if test="busIndex != null">
                bus_index,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stationName != null">
                #{stationName,jdbcType=VARCHAR},
            </if>
            <if test="busId != null">
                #{busId,jdbcType=VARCHAR},
            </if>
            <if test="busIndex != null">
                #{busIndex,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.ianhe.entity.BusStation">
        update bus_station
        <set>
            <if test="stationName != null">
                station_name = #{stationName,jdbcType=VARCHAR},
            </if>
            <if test="busId != null">
                bus_id = #{busId,jdbcType=VARCHAR},
            </if>
            <if test="busIndex != null">
                bus_index = #{busIndex,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.ianhe.entity.BusStation">
        UPDATE bus_station
        SET station_name = #{stationName,jdbcType=VARCHAR},
            bus_id       = #{busId,jdbcType=VARCHAR},
            bus_index    = #{busIndex,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>