<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.ianhe.dao.FiPaymentMapper">
    <resultMap id="BaseResultMap" type="me.ianhe.db.entity.FiPayment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL"/>
        <result column="receipt_date" property="receiptDate" jdbcType="TIMESTAMP"/>
        <result column="customerID" property="customerID" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, payment_amount, receipt_date, customerID, remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from fi_payment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from fi_payment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="me.ianhe.db.entity.FiPayment" useGeneratedKeys="true" keyProperty="id">
        insert into fi_payment (payment_amount, receipt_date,
        customerID, remark)
        values (#{paymentAmount,jdbcType=DECIMAL}, #{receiptDate,jdbcType=TIMESTAMP},
        #{customerID,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="me.ianhe.db.entity.FiPayment" useGeneratedKeys="true" keyProperty="id">
        insert into fi_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paymentAmount != null">
                payment_amount,
            </if>
            <if test="receiptDate != null">
                receipt_date,
            </if>
            <if test="customerID != null">
                customerID,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paymentAmount != null">
                #{paymentAmount,jdbcType=DECIMAL},
            </if>
            <if test="receiptDate != null">
                #{receiptDate,jdbcType=TIMESTAMP},
            </if>
            <if test="customerID != null">
                #{customerID,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.ianhe.db.entity.FiPayment">
        update fi_payment
        <set>
            <if test="paymentAmount != null">
                payment_amount = #{paymentAmount,jdbcType=DECIMAL},
            </if>
            <if test="receiptDate != null">
                receipt_date = #{receiptDate,jdbcType=TIMESTAMP},
            </if>
            <if test="customerID != null">
                customerID = #{customerID,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.ianhe.db.entity.FiPayment">
        update fi_payment
        set payment_amount = #{paymentAmount,jdbcType=DECIMAL},
        receipt_date = #{receiptDate,jdbcType=TIMESTAMP},
        customerID = #{customerID,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="listByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fi_payment
    </select>
    <select id="listCount" resultType="int">
        select
        count(id)
        from fi_payment
    </select>
</mapper>