<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.ianhe.dao.MyScoreMapper">
    <resultMap id="BaseResultMap" type="me.ianhe.db.entity.MyScore">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="reason" property="reason" jdbcType="LONGVARCHAR"/>
        <result column="add_writer" property="addWriter" jdbcType="INTEGER"/>
        <result column="add_date" property="addDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, score, reason, add_writer, add_date
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from MyScore
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from MyScore
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="me.ianhe.db.entity.MyScore" useGeneratedKeys="true" keyProperty="id">
        insert into MyScore (score, add_writer, add_date,
        reason)
        values (#{score,jdbcType=INTEGER}, #{addWriter,jdbcType=INTEGER}, #{addDate,jdbcType=TIMESTAMP},
        #{reason,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="me.ianhe.db.entity.MyScore" useGeneratedKeys="true" keyProperty="id">
        insert into MyScore
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="score != null">
                score,
            </if>
            <if test="addWriter != null">
                add_writer,
            </if>
            <if test="addDate != null">
                add_date,
            </if>
            <if test="reason != null">
                reason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="addWriter != null">
                #{addWriter,jdbcType=INTEGER},
            </if>
            <if test="addDate != null">
                #{addDate,jdbcType=TIMESTAMP},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.ianhe.db.entity.MyScore">
        update MyScore
        <set>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="addWriter != null">
                add_writer = #{addWriter,jdbcType=INTEGER},
            </if>
            <if test="addDate != null">
                add_date = #{addDate,jdbcType=TIMESTAMP},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.ianhe.db.entity.MyScore">
        update MyScore
        set score = #{score,jdbcType=INTEGER},
        add_writer = #{addWriter,jdbcType=INTEGER},
        add_date = #{addDate,jdbcType=TIMESTAMP},
        reason = #{reason,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.ianhe.db.entity.MyScore">
        update MyScore
        set score = #{score,jdbcType=INTEGER},
        add_writer = #{addWriter,jdbcType=INTEGER},
        add_date = #{addDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getTotalScore" resultType="long">
        select
        sum(score)
        from MyScore
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from MyScore
        order by id desc
    </select>
</mapper>