<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seven.ihelin.db.mapper.ServiceMenuMapper">
    <resultMap id="BaseResultMap" type="com.seven.ihelin.db.entity.ServiceMenu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="content_type" property="contentType" jdbcType="INTEGER"/>
        <result column="menu_rule" property="menuRule" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, content, content_type, menu_rule, parent_id, sort
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ServiceMenu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ServiceMenu
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.seven.ihelin.db.entity.ServiceMenu" useGeneratedKeys="true" keyProperty="id">
    insert into ServiceMenu (name, content, content_type, 
      menu_rule, parent_id, sort
      )
    values (#{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{contentType,jdbcType=INTEGER}, 
      #{menuRule,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.seven.ihelin.db.entity.ServiceMenu" useGeneratedKeys="true"
            keyProperty="id">
        insert into ServiceMenu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="contentType != null">
                content_type,
            </if>
            <if test="menuRule != null">
                menu_rule,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="contentType != null">
                #{contentType,jdbcType=INTEGER},
            </if>
            <if test="menuRule != null">
                #{menuRule,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.seven.ihelin.db.entity.ServiceMenu">
        update ServiceMenu
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="contentType != null">
                content_type = #{contentType,jdbcType=INTEGER},
            </if>
            <if test="menuRule != null">
                menu_rule = #{menuRule,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.seven.ihelin.db.entity.ServiceMenu">
    update ServiceMenu
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=INTEGER},
      menu_rule = #{menuRule,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getMenuByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ServiceMenu
        <where>
            <if test="parentId!=null">parent_id = #{parentId,jdbcType=INTEGER}</if>
        </where>
    </select>
    <select id="getMenustByParentId" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
    select
    *
    from ServiceMenu
    where parent_id =
    #{parentId,jdbcType=INTEGER} order by sort desc
  </select>
    <select id="getAllMenus" resultMap="BaseResultMap">
    select
    *
    from ServiceMenu order
    by sort desc
  </select>
</mapper>